/* 초기화 */
html, body, div, header, nav, section, aside, article, footer, figure,
	figcaption, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, fieldset
	{
	margin: 0;
	padding: 0;
}

fieldset, img {
	border: 0;
}

html, body {
	height: 100%
}

.wrapper {
	width: 100%;
	height: 100%;
	background-image: url('../images/background.jpg');
	background-repeat: repeat;
	overflow-y: auto;
}

.top{
	width: 100%;
	padding-top: 50px;
	border-bottom: 3px solid #00CDFF;
}

.logo {
	margin: 0 auto 60px;
}

.logo img {
	width: 212px;
	height: 76px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.bottom{
	height: 100%;
	background-color: #DADEDC;
	opacity: 0.9;
}

.step_title img{
	width: 46%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.box{
	width: 40%;
	padding: 30px 44px 30px 44px;
	margin: 0 auto;
	background-color: #ffffff;
	border-radius: 5px;
	border: 1px solid #ebebeb;
}

.email, .password, .confirmPW {
	border-bottom: 2px solid #c4c5c4;
	padding: 20px 0 9px 0;
}

.email label, .password label, .birthday label, .sex label{
	font-size: 20px;
	font-family : '돋움';
	margin-bottom: 50px;
}

.email input[type=email], .password input[type=password], .confirmPW input[type=password], .birthday input[type=date]{
	width: 50%;
	color: #828180;
	font-size: 15px;
	border: none;
	font-family: '돋움';
}

.birthday, .sex{
	margin-top : 20px;
}

.email input[type="button"]{
	font-size: 15pt;
	font-family: '돋움';
	float: right;
}

.password input[type="checkbox"], .confirmPW input[type="checkbox"]{
	float: right;
	-webkit-transform: scale(2);
}

.box #next{
	width: 150px;
	height: 50px;
	background-color: #00a6de;
	color: #ffffff;
	font-size: 16px;
	padding: 17px 0 16px;
	border: 0;
	margin-top: 50px;
	cursor: pointer;
	font-family: '돋움';
	float: right;
}

.box #cancle{
	width: 150px;
	height: 50px;
	background-color: #111111;
	color: #ffffff;
	font-size: 16px;
	padding: 17px 0 16px;
	border: 0;
	margin-top: 34px;
	cursor: pointer;
	font-family: '돋움';
	float: left;
}