<!doctype html>
<html lang="kor">
 <head>
  <meta charset="UTF-8">

  <title>petsi - 애완동물 모여라  </title>
	<link rel="stylesheet" href="css/login.css" />
 </head>
 <body>
 <div class="wrapper">
    <div class="main">
        <div class="logo">
            <img src="images/logo2.png" />
        </div>
        <div class="login_box">
            <div class="input_login">
                    <input type="text" placeholder="이메일을 입력해주세요!">
                </div>
                <div class="input_login">
                    <input type="password" placeholder="비밀번호를 입력해주세요!">
                </div>
                <div class="check">
                    <label><input type="checkbox">이메일 저장</label>
               </div>
                <div class="login">
                    <input type="submit" value="로그인">
                </div>
                <div class="fb_login">
                    <input type="submit" value="페이스북 로그인">
                </div>
                <div class="kakao_login">
                    <input type="submit" value="카카오톡 로그인">
                </div>
                <div class="last">
                    <div class="join"><a href="#">회원가입</a></div>
                    <div class="search"><a href="#">비밀번호 검색</a></div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>