<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans.xsd">
		
	<!-- service빈 등록 -->	
	<bean id="signUpEmailService" class="service.SignUpEmailService">
		<constructor-arg ref="memberInfoDao"/>
		<constructor-arg ref="memberDao"/>
	</bean>
	
	<bean id="loginRequestService" class="service.LoginRequestService">
		<constructor-arg ref="memberInfoDao"/>
		<constructor-arg ref="memberDao"/>
	</bean>
		
	<bean class="controller.LoginUI_Controller">
		<constructor-arg ref="loginRequestService"/>
	</bean>
	
	<bean class="controller.IndexUI_Controller"/>
	
	<bean class="controller.RegistUI_Controller">
		<constructor-arg ref="signUpEmailService"/>
	</bean>
 
	<bean class="controller.ContentsUI_Controller">
		<constructor-arg ref="contentsDao"/>
	</bean>
	
	<bean class="controller.SearchUI_Contents_Controller">
		<constructor-arg ref="contentsDao"/>
	</bean>
	
	<bean class="controller.SearchUI_Member_Controller">
		<constructor-arg ref="memberDao"/>
	</bean>

</beans>